/* base styles */
.link:hover,
.link:focus,
.info-list .logo-name:active {
  color: #404bbf;
}
a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* main styles */
.logo-part {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.info-list {
  font-style: normal;
  color: #434455;
}
/* section 1 */
.main-page {
  background: #2e2f42;
}
.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.page-btn {
  font-size: 16px;
  cursor: pointer;
}

/* section 2 */
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em
  color: #2e2f42;
}

/* section 3 */
.title-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

/* section 4 */
.portfolio-list {
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize
  color: #2e2f42;
}

/* footer */
.footer-page {
  background: #2e2f42;
}

.text-footer-page {
  color: #F4F4FD;
}